<div class="deznav">
    <div class="deznav-scroll">      
      <ul class="metismenu" id="menu">
        <li><a href="#" routerLink="/admin-layout/gestionuser">
            <i class="flaticon-layout"></i>
            <span class="nav-text">User Reclamation</span>
          </a>
        </li>
        <li><a  href="#" routerLink="/admin-layout/staffdashboard">
          <i class="flaticon-bar-chart-1"></i>
          <span class="nav-text">Menus</span>
        </a>
        </li>
        <li><a href="#" routerLink="/admin-layout/produits-dashboard">
          <i class="flaticon-web"></i>
          <span class="nav-text">Produit</span>
        </a>
        </li>
        <li><a href="#" routerLink="/admin-layout/admin">
            <i class="flaticon-monitor"></i>
            <span class="nav-text">Forum</span>
          </a>
        </li>  <li><a href="#" routerLink="/admin-layout/job-offer-management">
          <i class="flaticon-monitor"></i>
          <span class="nav-text">Job offer</span>
        </a>
      </li>
      </ul>
    </div>
  </div>