<div class="regime-container">
    <h2>Régimes Alimentaires</h2>
    <mat-card *ngFor="let regime of regimes" class="regime-card">
        <mat-card-title (click)="toggleRegime(regime.id)" class="clickable">
            {{ regime.type }}
        </mat-card-title>
        <mat-card-content *ngIf="selectedRegimeId === regime.id">
            <p>Plats Recommandés:</p>
            <ul *ngIf="regime.platsRecommandes && regime.platsRecommandes.length > 0">
                <li *ngFor="let plat of regime.platsRecommandes">
                    <p>{{ plat.nom }}</p>
                    <p>{{ plat.categorie }}</p>
                    <p>{{ plat.calories }} kcal</p>
                    <img class="card-img-top" [src]="plat.imagePath">
                </li>
            </ul>
            <p *ngIf="regime.platsRecommandes.length === 0">Aucun plat recommandé.</p>
        </mat-card-content>
    </mat-card>
</div>
