<div class="product-form-container">
  <h2>{{ isEditMode ? 'Edit Product' : 'Add Product' }}</h2>
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
   
    <div class="form-group">
      <label for="nomProduit">Product Name:</label>
      <input 
        type="text" 
        id="nomProduit" 
        formControlName="nomProduit" 
        class="form-control" />
      <div *ngIf="nomProduit?.invalid && nomProduit?.touched" class="error-message">
        Product name is required and must be at least 3 characters long.
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea 
        id="description" 
        formControlName="description" 
        class="form-control"></textarea>
      <div *ngIf="description?.invalid && description?.touched" class="error-message">
        Description is required and must be at least 10 characters long.
      </div>
    </div>

    <!-- Quantity -->
    <div class="form-group">
      <label for="quantite">Quantity:</label>
      <input 
        type="number" 
        id="quantite" 
        formControlName="quantite" 
        class="form-control" />
      <div *ngIf="quantite?.invalid && quantite?.touched" class="error-message">
        Quantity is required and must be at least 1.
      </div>
    </div>

    <!-- Alert Threshold -->
    <div class="form-group">
      <label for="seuil_alerte">Alert Threshold:</label>
      <input 
        type="number" 
        id="seuil_alerte" 
        formControlName="seuil_alerte" 
        class="form-control" />
      <div *ngIf="seuil_alerte?.invalid && seuil_alerte?.touched" class="error-message">
        Alert threshold is required and must be at least 1.
      </div>
    </div>

    <!-- Expiration Date -->
    <div class="form-group">
      <label for="date_peremption">Expiration Date:</label>
      <input 
        type="date" 
        id="date_peremption" 
        formControlName="date_peremption" 
        class="form-control" />
      <div *ngIf="date_peremption?.invalid && date_peremption?.touched" class="error-message">
        Expiration date is required.
      </div>
    </div>

    <!-- Submit Buttons -->
    <div class="button-container">
      <button 
        type="submit" 
        class="btn btn-primary" 
        [disabled]="productForm.invalid || isEditMode">
        Add Product
      </button>

      <button 
        mat-button 
        class="btn btn-primary" 
        type="submit" 
        [disabled]="productForm.invalid || !isEditMode">
        Update Product
      </button>
    </div>
  </form>

 

  <!-- Success and Error Messages -->
  <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
</div>
